

.nav__bar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 1000;
    position: fixed;
}


.logo__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.logo__box h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text__light);
}

  
  .wrapper__menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 530ms ease-out;
    margin-right: 50px;
  }
  
  .wrapper__menu.open {
    transform: rotate(-45deg);  
  }
  
  .line__menu {
    background-color: var(--text__light);
    border-radius: 6px;
    width: 100%;
    height: 11px;
  }
  
  .line__menu.half {
    width: 50%;
  }
  
  .line__menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line__menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line__menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line__menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  










  /* navigation page */




  .menu__page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--nav__light);
    width: 100%;
    /* transform: translatey(-100%); */
    transition: transform 530ms ease-out;
  }

  @media screen and (max-width: 768px) {
    .menu__page {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: var(--nav__light);
      width: 100%;
      /* transform: translatey(-100%); */
      transition: transform 530ms ease-out;
    }
  }
    